<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-top: 16px;">
  <div class="container-fluid">
    <!-- Brand -->
    <a href="#" class="navbar-brand">WebSiteName</a>

    <!-- Toggle Button for Mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Items -->
    <div id="navbarNav" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto d-flex flex-row">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Page 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Page 2</a>
        </li>
      </ul>

      <!-- Search Form -->
      <form class="d-flex">
        <input type="search" placeholder="Search" class="form-control me-2">
        <button type="submit" class="btn btn-outline-light">
          <i class="bi bi-search"></i>
        </button>
      </form>
    </div>
  </div>
</nav>


<router-outlet/>